:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

body {
  background: light-dark(oklch(0.98 0.015 215), oklch(0.35 0.035 215));
  color: light-dark(oklch(0.35 0.035 215), oklch(0.98 0.015 215));
}

header,
footer {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  width: 100%;

  img {
    flex: 0 1 256px;
    max-height: 256px;
    min-width: 2em;
  }

  h1 {
    flex: 1 0 min-content;
    max-width: max-content;
  }
}

footer {
  font-size: 0.8em;
  margin-top: 20px;
}

main,
article {
  margin: 0 auto;
  /* max-width: 472px; */
  max-width: 540px;
}

h1 {
  font-size: 2em;
}

hgroup {
  h1 {
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
    font-size: 0.8em;
  }
}

code,
pre {
  background: light-dark(oklch(0.82 0.0152 215), oklch(0.45 0.035 215));
  padding: 4px;
}

pre {
  max-width: 100%;
  overflow-x: auto;

  code,
  pre {
    background: none;
    padding: 0;
  }
}

embed {
  display: block;
  min-height: 200px;
  width: 100%;
}

aside {
  font-size: 0.8em;
  font-style: oblique;
  margin-block: 1em;
  padding-inline: 1em;
}

.badges {
  display: grid;
  /* gap: 8px; */
  gap: 2px;
  grid: auto-flow 31px / repeat(auto-fill, 88px);

  a {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.badge:not(img) {
  align-items: center;
  background: #cccccc;
  border: 2px solid;
  border-color: #ffffff7e #0000007e #0000007e #ffffff7e;
  color: black;
  display: flex;
  font-size: 11px;
  font-weight: 600;
  height: 31px;
  justify-content: center;
  line-height: 11px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0.7px 0.7px #ffffff7e;
  width: 88px;
  word-break: break-word;

  &:hover:not(:active) {
    filter: opacity(85%) contrast(75%);
  }

  &:active {
    border-color: #0000007e #ffffff7e #ffffff7e #0000007e;
  }
}

.badges img,
.badge img,
img.badge {
  display: block;
  image-rendering: pixelated;
  max-height: 31px;
  max-width: 88px;

  &:hover {
    filter: opacity(85%) contrast(75%);
  }
}

#nowplaying {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  margin: 16px auto;
  max-width: 540px;

  & > a {
    border: 1px solid light-dark(oklch(0.35 0.035 215), oklch(0.98 0.015 215));
    color: inherit;
    display: grid;
    grid: 13px 17px / 34px auto;
    gap: 4px;
    max-width: 100%;
    overflow: hidden;
    padding: 2px;
    text-decoration: none;
    text-wrap: nowrap;
    min-width: 200px;
    max-width: 100%;

    img {
      grid-row: span 2;
    }

    span {
      align-self: end;
      font-size: 9px;
      line-height: 9px;
      padding-right: 4px;
    }

    span + span {
      align-self: start;
      font-size: 13px;
      line-height: 13px;
    }
  }
}

