:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

body {
  background: light-dark(oklch(0.98 0.015 215), oklch(0.35 0.035 215));
  color: light-dark(oklch(0.35 0.035 215), oklch(0.98 0.015 215));
}

header,
footer {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  width: 100%;

  img {
    flex: 0 1 256px;
    max-height: 256px;
    min-width: 2em;
  }

  h1 {
    flex: 1 0 min-content;
    max-width: max-content;
  }
}

footer {
  font-size: 0.8em;
  margin-top: 20px;
}

main,
article {
  margin: 0 auto;
  /* max-width: 472px; */
  max-width: 450px;
}

h1 {
  font-size: 2em;
}

hgroup {
  h1 {
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
    font-size: 0.8em;
  }
}

code,
pre {
  background: light-dark(oklch(0.82 0.0152 215), oklch(0.45 0.035 215));
  padding: 4px;
}

pre {
  max-width: 100%;
  overflow-x: auto;

  code,
  pre {
    background: none;
    padding: 0;
  }
}

.badges {
  display: grid;
  /* gap: 8px; */
  gap: 2px;
  grid: auto-flow 31px / repeat(auto-fill, 88px);

  a {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  img {
    display: block;
    image-rendering: pixelated;
    max-height: 31px;
    max-width: 88px;
  }
}

.badge:not(img) {
  align-items: center;
  background: #cccccc;
  border: 2px solid;
  border-color: white black black white;
  color: black;
  display: flex;
  font-size: 11px;
  height: 31px;
  justify-content: center;
  line-height: 11px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0.7px 0.7px white;
  width: 88px;
  word-break: break-word;

  &:hover:not(:active) {
    filter: opacity(85%) contrast(75%);
  }

  &:active {
    border-style: inset;
  }
}

.badges img,
.badge img,
img.badge {
  display: block;
  image-rendering: pixelated;
  max-height: 31px;
  max-width: 88px;

  &:hover {
    filter: opacity(85%) contrast(75%);
  }
}
